<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>主页</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.14.0/lib/theme-chalk/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://unpkg.com/element-ui@2.14.0/lib/index.js"></script>
</head>
<body>
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
    </style>
    <div id="app">
        <el-container style="height: 100%; border: 1px solid #eee">
            <el-header style="display:flex">
                <div style="width:70%;">
                    <span style="text-align: left; font-size: 20px">失物招领管理系统</span>
                </div>
                <div style="width:30%;text-align:right">
                    <el-dropdown @command="handleCommand">
                        <i class="el-icon-user-solid" style="margin-right: 15px">
                            <span>{{nikename}}</span>
                        </i>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="modPwd">修改密码</el-dropdown-item>
                            <el-dropdown-item command="logout">退出</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </el-header>

            <el-main>
                <el-form :inline="true" :model="formQuery" class="demo-form-inline">
                    <el-form-item label="物品">
                        <el-input v-model="formQuery.goods" placeholder="请输入名称"></el-input>
                    </el-form-item>
                    <el-form-item label="描述">
                        <el-input v-model="formQuery.describe" placeholder="请输入描述"></el-input>
                    </el-form-item>
                    <el-form-item label="拾获日期">
                        <el-date-picker v-model="formQuery.date"
                                        value-format="yyyy-MM-dd"
                                        type="daterange"
                                        range-separator="至"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="query">查询</el-button>
                        <el-button type="primary" @click="handleRelease">新增</el-button>
                    </el-form-item>
                </el-form>
                <el-table :data="tableData" height="700px" border>

                    <el-table-column prop="goods" label="物品" header-align="center" >
                    </el-table-column>
                    <el-table-column prop="describe" label="描述" header-align="center">
                    </el-table-column> 
                    <el-table-column prop="collect_date" label="拾获日期" header-align="center">
                        <template slot-scope="scope">
                            {{formatDate(scope.row.collect_date)}}
                        </template>
                    </el-table-column>
                    <el-table-column prop="collect_addr" label="拾获地址"  header-align="center">
                    </el-table-column>
                    <el-table-column prop="contact_man" label="联系人"  header-align="center">
                    </el-table-column>
                    <el-table-column prop="contact_phone" label="联系电话"  header-align="center">
                    </el-table-column>
                    <el-table-column prop="contact_email" label="Email"  header-align="center">
                    </el-table-column>
                    <el-table-column label="操作"  header-align="center">
                        <template slot-scope="scope">
                            <el-button size="mini"
                                       @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                            <el-button size="mini"
                                       type="danger"
                                       @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-main>
        </el-container>

        <el-dialog :title="dialogTitle" :visible.sync="addFormVisible">
            <el-form :model="formAdd" :rules="rules" ref="refadd">
                <el-form-item label="物品" :label-width="formLabelWidth" required>
                    <el-input v-model="formAdd.goods"></el-input>
                </el-form-item>
                <el-form-item label="描述" :label-width="formLabelWidth" required>
                    <el-input v-model="formAdd.describe" type="textarea"></el-input>
                </el-form-item>
                <el-form-item label="拾获日期" :label-width="formLabelWidth" required>
                    <el-date-picker v-model="formAdd.collect_date"
                                    type="date"
                                    value-format="yyyy-MM-dd"
                                    placeholder="选择日期">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="拾获地址" :label-width="formLabelWidth" required>
                    <el-input v-model="formAdd.collect_addr" type="textarea"></el-input>
                </el-form-item>
                <el-form-item label="联系人" :label-width="formLabelWidth" required>
                    <el-input v-model="formAdd.contact_man"></el-input>
                </el-form-item>
                <el-form-item label="联系电话" :label-width="formLabelWidth"  prop="contact_phone">
                    <el-input v-model="formAdd.contact_phone"></el-input>
                </el-form-item>
                <el-form-item label="联系Email" :label-width="formLabelWidth" prop="contact_email" >
                    <el-input v-model="formAdd.contact_email"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="summit">确 定</el-button>
            </div>
        </el-dialog>

        <el-dialog title="修改密码" :visible.sync="modPwdFormVisible">
            <el-form :model="formPwd" :rules="pwdRules" ref="refpwd">
                <el-form-item label="旧密码" :label-width="formLabelWidth" prop="oldpwd" required>
                    <el-input v-model="formPwd.oldpwd" show-password></el-input>
                </el-form-item>
                <el-form-item label="新密码" :label-width="formLabelWidth" prop="newpwd" required>
                    <el-input v-model="formPwd.newpwd" show-password></el-input>
                </el-form-item>
                <el-form-item label="再次确认密码" :label-width="formLabelWidth" prop="newpwd2" required>
                    <el-input v-model="formPwd.newpwd2" show-password></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="modPwdFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="modPwd">确 定</el-button>
            </div>
        </el-dialog>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data() {
                var isvalidPass = function(str){
                    const reg = /^[a-zA-Z]\w{8,18}$/;
                    return reg.test(str);
                }
                var validatePass = (rule, value, callback) => {
                    if (value === "") {
                        callback(new Error("请输入密码"));
                    } else if (!isvalidPass(value)) {
                        callback(
                            new Error("密码以字母开头 长度在8~18之间 只能包含字母、数字和下划线")
                        );
                    } else {
                        if (this.formPwd.newpwd2 !== "") {
                            this.$refs.refpwd.validateField("newpwd2");
                        }
                        callback();
                    }
                };

                var validatePass2 = (rule, value, callback) => {
                    if (value === "") {
                        callback(new Error("请输入确认密码"));
                    } else if (value !== this.formPwd.newpwd) {
                        callback(new Error("两次输入密码不一致！"));
                    } else {
                        callback();
                    }
                };
                return {
                    pwdRules: {
                        oldpwd: [
                            { required: true, message: '请输入旧密码', trigger: 'blur' },
                            //{ required: true, validator: validatePass, trigger: "blur" }
                        ],
                        newpwd: [
                            { required: true, message: '请输入新密码', trigger: 'blur' },
                            //{ required: true, validator: validatePass, trigger: "blur" }
                        ],
                        newpwd2: [
                            { required: true, message: '请输入再次确认密码', trigger: 'blur' },
                            { required: true, validator: validatePass2, trigger: "blur" }
                        ]
                        
                    },
                    rules: {
                        contact_email: [
                            { required: true, message: '请输入邮箱地址', trigger: 'blur' },
                            {
                                type: 'email',
                                message: '请输入正确的邮箱地址',
                                trigger: ['blur', 'change'],
                            },
                        ],
                        contact_phone: [
                            { required: true, message: '请输入手机号', trigger: 'blur' },
                            {
                                pattern: /^((0\d{2,3}-\d{7,8})|(1[3584]\d{9}))$/,
                                message: '请输入正确的手机号码或者座机号',
                            },
                        ],
                    },
                    nikename: "",
                    formLabelWidth: '120px',
                    modPwdFormVisible: false,
                    formPwd: {},
                    formQuery: {},
                    dialogTitle: "新增",
                    addFormVisible: false,
                    formAdd: {},
                    tableData: []
                }
            },
            mounted() {
                this.nikename = localStorage.getItem("user");
                this.query();
            },
            methods: {
                formatDate(fmt) {
                    if (fmt == null || fmt=='') {
                        return fmt;
                    }
                    return fmt.substring(0, 10);
                },
                handleCommand(command) {
                    if (command == "logout") {
                        this.logout();
                    } else {
                        this.modPwdFormVisible = true;
                    }
                },
                logout() {
                    localStorage.removeItem('user');
                    location.href = "login.html";
                },
                modPwd() {
                    this.$refs["refpwd"].validate((valid) => {
                        if (valid) {
                            this.formPwd.name = localStorage.getItem("user");
                            this.$http.post(
                                '/api/User/ModPwd', this.formPwd).then(function (res) {
                                    console.log(res);
                                    if (res.status == 200) {
                                        if (res.data.code == -1) {

                                            this.$message.error(res.data.msg);

                                        } else {
                                            this.$message.info(res.data.msg);
                                            this.modPwdFormVisible = false;
                                            this.formPwd = {};
                                        }
                                    } else {
                                        this.$message.error('请求失败');
                                    }
                                }, function () {
                                    this.$message.error('请求失败');
                                });
                        } else {
                            return;
                        }
                    });
                    
                },
                query() {
                    var data = {};
                    if (this.formQuery.date) {
                        data.bdate = this.formQuery.date[0];
                        data.edate = this.formQuery.date[1]
                    }
                    if (this.formQuery.goods) {
                        data.goods = this.formQuery.goods;
                    }
                    if (this.formQuery.describe) {
                        data.describe = this.formQuery.describe;
                    }
                    this.$http.get("/api/Goods/Get", { params: data }).then(function (res) {
                        console.log(res);
                        if (res.status == 200) {
                            if (res.data.code == -1) {
                                this.$message.error(res.data.msg);

                            } else {
                                this.tableData = res.data.data;
                            }
                        } else {
                            this.$message.error('请求失败');
                        }
                    }, function () {
                        this.$message.error('请求失败');
                    });
                },
                handleRelease() {
                    this.dialogTitle = "新增";
                    this.formAdd = {};
                    this.addFormVisible = true;
                    
                },
                handleEdit(id, row) {
                    this.dialogTitle = "编辑";
                    this.formAdd = row;
                    this.addFormVisible = true;
                },
                summit() {
                    this.$refs["refadd"].validate((valid) => {
                        if (valid) {
                            if (this.dialogTitle == "新增") {
                                this.release();
                            } else {
                                this.mod();
                            }
                        } else {
                            return;
                        }
                    });
                },
                mod() {
                    var that = this;
                    this.$http.post(
                        '/api/Goods/Mod', this.formAdd).then(function (res) {
                            console.log(res);
                            if (res.status == 200) {
                                if (res.data.code == -1) {

                                    this.$message.error(res.data.msg);

                                } else {
                                    this.$message.info(res.data.msg);
                                    that.query();
                                    that.formAdd = {
                                        oldpwd: "",
                                        newpwd: "",
                                        newpwd2:""
                                    };
                                    that.addFormVisible = false;
                                }
                            } else {
                                this.$message.error('请求失败');
                            }
                        }, function () {
                            this.$message.error('请求失败');
                        });
                },
                release() {
                    var that = this;
                    this.$http.post(
                        '/api/Goods/Release', this.formAdd).then(function (res) {
                            console.log(res);
                            if (res.status == 200) {
                                if (res.data.code == -1) {

                                    this.$message.error(res.data.msg);

                                } else {
                                    this.$message.info(res.data.msg);
                                    that.query();
                                    that.formAdd = {};
                                    that.addFormVisible = false;
                                }
                            } else {
                                this.$message.error('请求失败');
                            }
                        }, function () {
                            this.$message.error('请求失败');
                        });
                },
                handleDelete(id, row) {
                    var that = this;
                    that.gid = { id: row.id };
                    this.$confirm('确定删除该条发布信息吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        that.$http.post('/api/Goods/Del', that.gid).then(function (res) {
                                console.log(res);
                                if (res.status == 200) {
                                    if (res.data.code == -1) {

                                        this.$message.error(res.data.msg);

                                    } else {
                                        this.$message.info(res.data.msg);
                                        that.query();
                                    }
                                } else {
                                    this.$message.error('请求失败');
                                }
                            }, function () {
                                this.$message.error('请求失败');
                            });
                    });
                }
            }
        });
    </script>
</body>
</html>