<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>失物招领管理系统</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.14.0/lib/theme-chalk/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://unpkg.com/element-ui@2.14.0/lib/index.js"></script>

</head>
<body>
    <style>
        .login_wrapper {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login {
            width: 460px;
            height: 460px;
            margin-top: 150px;
            border: 1px solid #eaeaea;
            box-shadow: 0 0 25px #cac6c6;
        }

        .title {
            text-align: center;
            color: #505458;
        }
        .el-form-item {
            margin: 20px;
        }
        .btlogin {
            text-align: -webkit-right;
        }
    </style>

    <div id="app">
        <div class="login_wrapper">
            <div class="login" v-show="loginVis">
                <el-form :model="formLogin">
                    <el-form-item>
                        <h2 class="title">后台管理系统</h2>
                    </el-form-item>
                    <el-form-item>
                        <el-input v-model="formLogin.name" placeholder="账号"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-input v-model="formLogin.pwd" placeholder="密码" show-password></el-input>
                    </el-form-item>
                    <el-form-item class="btlogin">
                        <el-link style="margin-right: 20px;" @click="linkClick(false)">注册</el-link>
                        <el-button type="primary" @click="login">登陆</el-button>
                    </el-form-item>

                </el-form>

            </div>
            <div class="login" v-show="!loginVis">
                <el-form :model="formReg">
                    <el-form-item style="margin-top:50px;"></el-form-item>
                    <el-form-item>
                        <el-input v-model="formReg.name" placeholder="账号"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-input v-model="formReg.nikename" placeholder="昵称"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-input v-model="formReg.pwd" placeholder="密码" show-password></el-input>
                    </el-form-item>
                    <el-form-item class="btlogin">
                        <el-link style="margin-right: 20px;" @click="linkClick(true)">返回登录</el-link>
                        <el-button type="primary" @click="register">注册</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    loginVis: true,
                    formLogin: {
                        name: "",
                        pwd: ""
                    },
                    formReg: {
                        name: "",
                        nikename: "",
                        pwd: ""
                    }
                }
            },
            created() {
                this.loginVis = true;
            },
            methods: {
                linkClick(a){
                    this.loginVis = a;
                },
                login(){
                    this.$http.post(
                        '/api/User/Login', this.formLogin).then(function (res) {
                            console.log(res);
                            if (res.status == 200) {
                                if (res.data.code == -1) {
                                    this.$message.error(res.data.msg);
                                } else {
                                    localStorage.setItem('user', this.formLogin.name);
                                    this.$message.info(res.data.msg);
                                    location.href = "index.html";
                                }
                            } else {
                                this.$message.error('请求失败');
                            }
                        }, function () {
                            this.$message.error('请求失败');
                        });
                },
                register() {
                    this.$http.post(
                        '/api/User/Register', this.formReg).then(function (res) {
                            console.log(res);
                            if (res.status == 200) {
                                if (res.data.code == -1) {
                                    
                                    this.$message.error(res.data.msg);
                                    
                                } else {
                                    this.$message.info(res.data.msg);
                                }
                            } else {
                                this.$message.error('请求失败');
                            }
                        }, function () {
                            this.$message.error('请求失败');
                        });
                }
            }
        })
    </script>
</body>
</html>